<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jude Dsouza's Webapp!</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #121212;
            color: white;
            text-align: center;
            margin-top: 100px;
        }
        h1 {
            color: #00FFAA;
        }
    </style>
</head>
<body>
    <h1>Hello! My name is Jude</h1>
    <p>and this is my basic Flask web app presentation!</p>
</body>
</html>
